.row {
    margin-top: 20px; 
}

.keuze-scherm {
    width: 300px; 
}

.form-group {
    margin-top:10px;
}

.price {
    position: relative; 
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
