<!DOCTYPE html>
<html>
<head>
    <!-- Render Shared Header-->
    @RenderPage("~/_Shared/_Header.cshtml")
    <link rel="stylesheet" href="~/Admin/AdminPage.css" />
</head>
<body>
    <!-- Render Shared Navbar-->
    @RenderPage("~/_Shared/_Navbar.cshtml")
    <h1>Te vaak het verkeerde wachtwoord ingevuld.</h1>
</body>
</html>
