@{

    var msg = "";
    var role = Request["role"];

    //GET CURRENT CREATED ROLES
    var roles = Roles.GetAllRoles();

    if (IsPost)
    {
        if (!role.IsEmpty())
        {//MAKE SURE ROLE IS NOT EMPTY
            if (!Roles.RoleExists(role))
            {//MAKE SURE ROLE DOES NOT EXIST
                Roles.CreateRole(role);//CREATE THE ROLE
                msg = role + " has been created";
            }
            else
            {
                msg = role + " already exist!";
            }

        }
    }

}

@{ 
    //GET ALL USERS FROM DATABASE.

    var db = Database.Open("FondantiDataBase");
    var SQLUSER = "SELECT Username FROM Users";
    var users = db.Query(SQLUSER);





    if (IsPost)
    {
        var user = Request["user"];
        var Email = Request["Username"];

        if (!user.IsEmpty() && !role.IsEmpty())
        {//MAKE SURE USER AND ROLE IS NOT EMPTY
            if (!Roles.IsUserInRole(user, role))
            {//MAKE SURE USER IS NOT IN THE CURRENT ROLE.
                Roles.AddUsersToRoles(new[] { user }, new[] { role });//ADD USER TO ROLE
                msg = user + " Has been added to the role " + role;
            }
            else
            {
                msg = user + " Is already in role " + role;
            }
        }
        else
        {
            msg = role + " No Longer Exist!";
        }
    }
}
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <form method="post">

        @msg

        <fieldset>
            <legend>Add Role</legend>
            <input type="text" name="role" />
            <input type="submit" value="Add Role" />
        </fieldset>

    </form>

    <ul>
        @foreach (var userRoles in roles)
        {

            <li>@userRoles</li>

        }
    </ul>
    <form method="post">
        <p style="color:#a33f3f">@msg</p>

        <fieldset>
            <legend>Add user to role</legend>

            <div class="elements">
                <label for="user">User:</label>
                <select name="user" id="user">
                    @foreach (var Forename in users)
                {
                    <option>@User</option>
            }
                </select>
            </div>

            <div class="elements">
                <label for="role">Role:</label>
                <select name="role" id="role">
                    @foreach (var uRole in roles)
                {
                    <option>@uRole</option>
            }
                </select>
            </div>

            <input type="submit" class="submitform" />
        </fieldset>

    </form>
</body>
</html>
